/* Dashboard.css */
.custom-card {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .custom-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  
  .card-title {
    color: #343a40;
  }
  
  .card-text p {
    margin-bottom: 10px;
  }
  
  .card-text p:first-child {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #007bff;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  