.app-container {
  position: relative;
  background-color: transparent;
  min-height: 100vh;
}

.custom-navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.navbar-brand {
  margin-right: auto;
}

.nav-link {
  color: white !important; 
  margin-left: 10px; 
}

.nav-link:hover {
  color: lightgray !important; 
}

.content-container {
  padding-bottom: 60px;
}

.footer {
  color: white;
  background-color: black;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.footer p {
  margin: 0;
}
